PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log

Server={{ zabbix_server_domain }}
ServerActive={{ zabbix_server_domain }}
HostnameItem=system.hostname

Include=/etc/zabbix/zabbix_agent2.d/*.conf
