<!DOCTYPE html>
<html>
<head>
    <title>Diploma Project</title>
</head>
<body>
    <h1>Welcome. Rinat Serkebaev</h1>
    <p>Served by: {{ ansible_hostname }}</p>
    <p>IP: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
