[defaults]
inventory = hosts.ini
remote_user = rinat
host_key_checking = False
interpreter_python = auto_silent
private_key_file = ~/.ssh/id_ed25519
# пайплайнинг для корректной работы создания пользователя БД и самой БД Zabbix
[ssh_connection]
pipelining = True
